@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #fff;
        --primary: #23272f;
        --secondary: #404756;
        --tertiary: #5e687e;
        --brand: hsl(333, 71%, 51%);
        --link: #0284c7;
        --card: #f6f7f9;
        --border: 214.3 31.8% 91.4%;
        --radius: 0.5rem;
    }

    .dark {
        --background: #23272f;
        --primary: #f6f7f9;
        --secondary: #ebecf0;
        --tertiary: #99a1b3;
        --brand: hsl(333, 71%, 51%);
        --link: #0ea5e9;
        --card: #343a46;
        --border: 217.2 32.6% 17.5%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-secondary;
    }
}

.link {
    @apply text-link font-bold;
}

.link:hover {
    @apply text-sky-800;
}

html.dark .link:hover {
    @apply text-sky-300;
}
