@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary1-back: 223, 100%, 94%;
        --primary1-front: 222.2 84% 4.9%;
        --secondary1-back: 330 81% 60%;
        --secondary1-front: 330 81% 60%;
        --tertiary1-back: 223, 100%, 94%;
        --tertiary1-front: 158 64% 52%;
        --border: 214.3 31.8% 91.4%;
        --radius: 0.5rem;
    }

    .dark {
        --primary1-back: 222.2 84% 4.9%;
        --primary1-front: 210 40% 98%;
        --secondary1-back: 330 81% 60%;
        --secondary1-front: 330 81% 60%;
        --tertiary1-back: 222.2 84% 4.9%;
        --tertiary1-front: 158 64% 52%;
        --border: 217.2 32.6% 17.5%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-primary1-back text-primary1-front;
    }
}
